{% extends 'base.html.twig' %}
{% block title %}Хешування MD5 чи SHA-1{% endblock %}
{% block navbar_header %}{% endblock %}

{% block content %}
{%if session.message %}
	    <div class="alert alert-success">
	        {{ session.message }}
	    </div>
{%endif%}
<div style="margin-left: 10pt">
<h1>Хешування MD5</h1>
<form action="{{ path_for ('register') }}" method="post">
	<div>
		<label for="txtUser"> Логін</label>
		<input id="txtUser" type="text" name="login" value="" placeholder="login" style="width:41em" required autofocus/>
	</div>
	<p>
	<div>
		<label for="txtString"> Пароль</label>
		<input id="txtString" type="text" name="password" value="" placeholder="password" style="width:40em"required/>
	</div></p>
	<div>
		<p><button type="submit">Створити</button></p>
	</div>	
</form>
</div>
{% endblock %}
{% block footer %}{% endblock %}