<!DOCTYPE html>
<html><head>
<title>Додавання статей</title>
<link href="/css/bootstrap.css" rel="stylesheet">
<script src="/js/ckeditor/ckeditor.js"></script>
</head><body>

<p style="margin-top: 10pt" align="left" >&nbsp; &nbsp;<a href="{{	path ('index') }}"><b>На головну</b> </a></p>

   <div class="col-md-9">
	<div class="">
		<h2>Додавання статті</h2>
	 </div>
{# for ses in session %}
		<div class="flash-notice">
		{{ ses }}
		</div>
{% endfor %}

{#if session.message #}
	  <!--  <div class="alert alert-success">
	        {# session.message #}
	    </div>-->
{#endif#}
{% if errors %}
{% for error in errors %}
		<div class="alert alert-success">
		{{ error.message }}
		</div>
		{% endfor %}
{%endif%}
{# form_start(form, {method: 'POST', action: path('post')}) #}
<form method="post" enctype="multipart/form-data" action="{{ path ('post') }}">
	  <div class="form-group">
	    <label for=title">Заголовок</label>
	    <input type="text" class="form-control" id="title" name="title" value="{{ request.request.get('title') }}" placeholder="Назва статті">
	  </div>
	  	  <div class="form-group">
	    <b>Короткий опис:</b><p> <textarea class="form-control" name="descr"  cols="130" rows="5">{{ request.request.get('descr') }}</textarea></p>
    </div>
	  <div class="form-group">
	    <label for="text">Текст статті *:</label>
	    <textarea class="form-control" id="text" name="text">{{ request.request.get('text') }}</textarea>
	  </div>
	  <div class="form-group">
	    <label>Псевдонім:</label>
	    <input type="text" class="form-control" id="alias" value="{{ request.request.get('alias') }}" name="alias" placeholder="Alias">
	  </div>
		<!--<p>Зображення: <input type="text" name="img" size="52" value="{# request.request.get('img') #}"></p>-->
		<p>Файл зображення: <input type="file" name="image" value=""><!-- enctype='multipart/form-data' --></p>
		<p>Ключі: <input type="text" name="keywords" size="60" value="{{ request.request.get('keywords') }}" placeholder="Keywords"></p>
		<p>Дата створення: <input type="text" name="created_at" size="20" value="{{ "now"|date("Y-m-d H:i:s") }}"></p>
				<p>Дата редагування: <input type="text" name="updated_at" size="18" value="{{ "now"|date("Y-m-d H:i:s") }}"></p>
		<p><button type="submit" class="btn btn-primary">Додати</button></p>
	<input type="hidden" name="token" value="{{ csrf_token('add') }}"/>
</form>   
{# form_end(form) #}
   </div>

		 	<script>
		CKEDITOR.replace('text');
	</script>
</body></html>  