{% extends 'base.html.twig' %}
{% block head %}
    <div class="jumbotron">
      <div class="container">
        <h1>{{header}}</h1>
        <p>{{message}}</p>
       <p><a id="show" class="btn btn-primary btn-lg" role="button">Показати більше »</a></p>
        <p hidden="" id="block">{{full_message}} <br> <a id="hide" class="btn btn-primary btn-lg" role="button">Приховати »</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
    Всього статей: {{count}}
      <!-- Example row of columns -->
      <div class="row">
{%for article in articles %}
       <div class="col-md-4">
         <h2>{{ article.title }}</h2>
         <p>{{ article.descr|raw }}</p>
         <p><a class="btn btn-default" href="{{path ('show', {'id': article.id}) }}" role="button">Показати деталі »</a> 
{#auth#}
		{% if is_granted('ROLE_ADMIN') %}
		{# if is_granted('IS_AUTHENTICATED_FULLY') #}
          <a class="btn btn-default" href="{{path ('edit', {'id': article.id}) }}" role="button">Редагувати »</a></p>
    
    <form action="{{ path ('delete', {'article': article.id}) }}" method="post">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
		<button type="submit" class="btn btn-danger">Видалити</button>
    </form> 
    {% endif %}
{#endauth#}  
        </div>
        
{%endfor%}  
{% endblock %}     