{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
{%if article%}
        <div class="col-md-4">
        <img src="/{{article.img}}" style="margin-top: 10pt"/>
          <h2>{{ article.title }}</h2>
          <p>{{ article.text|raw }}</p>
          <p>Створено: {{article.CreatedAt|date('Y-m-d h:i:s')}} <br> Змінено: {{article.getUpdatedAt()|date('Y-m-d h:i:s')}}</p>
          <p><a class="btn btn-default" href="{{ path('index') }}" role="button">Назад »</a></p>
        </div>
{% endif %}
{% endblock %}    