{% extends 'base.html.twig' %}
{% block title %}Редагування секції AboutUs{% endblock %}
{% block navbar_header %}{% endblock %}
{% block content %}
<script src="/assets/ckeditor/ckeditor.js"></script>
<section id="pricing">
<div class="row">
	<form method="post" enctype="multipart/form-data" action="">
	<p align="center"><a class="button" style="color: #ff0000; font-size:20px ;" href="{{ path_for ('admin') }}" role="button">Назад</a></p><br>
		<p>Заголовок: <input type="text" name="head" size="100" value="{{aboutus.head}}"></p>
		<p>Текст:<textarea name="text" cols="100" rows="20">{{aboutus.text|raw}}</textarea></p>
		<input type="hidden" name="MAX_FILE_SIZE" value="300000" />
		<input type="hidden" name="img_old" value="{{aboutus.img}}" />
		<p>Файл зображення: <img src="/assets/images/{{aboutus.img}}" width="10%" height="10%"/>
		<input type="file" name="image" value=""></p>
		<p><input type="submit" value="Змінити"></p>
		</form>
	
    	<script>
		CKEDITOR.replace('text');
	</script>	
		</div>
	</section>
	{% endblock %}
{% block footer %}{% endblock %}