{% extends 'base.html.twig' %}
{% block title %}Адмінка{% endblock %}

{% block navbar_header %}{% endblock %}

{% block content %}
{%if session.message %}
	    <div class="alert alert-success">
	        {{ session.message }}
	    </div>
{%endif%}
<section id="pricing">
<div class="row">

{%if not session.admin %}

<form class="navbar-form navbar-right" action="{{ path_for ('login') }}" method="post">
            <div class="form-group">
              <input placeholder="Login" class="form-control" type="text" name="login">
            </div>
            <div class="form-group">
              <input placeholder="Пароль" class="form-control" type="password" name="password">
            </div>
            <input type="hidden" name="token" value="{{ session.token }}"/>
            <button type="submit" class="btn btn-success">Увійти</button>
          </form>
	
{% else %}

<a href='{{ path_for ('index') }}'>На головну</a><br><br>
	<h1>Адміністрування сайту</h1>
	<h3>Доступні дії:</h3>
	<ul>
	<li>Редагувати:
	<a class="button" href="{{ path_for ('homeedit') }}" title="">Home</a>
	<a class="button" href="{{ path_for ('aboutusedit') }}" title="">About us</a>
	<a class="button" href="{{ path_for ('servicesedit') }}" title="">Services</a></li>
		<br>
		<li><a href='{{ path_for ('register') }}'>Новий користувач</a></li><br><br>
	<a class="button btn-danger" href='{{ path_for ('logout') }}'>Завершити сеанс</a>
	</ul>
{%endif%}
	</div>
	</section>
	{% endblock %}
{% block footer %}{% endblock %}