{% extends 'base.html.twig' %}
{% block title %}Редагування секції Home{% endblock %}
{% block navbar_header %}{% endblock %}
{% block content %}
<script src="/assets/ckeditor/ckeditor.js"></script>
<section id="pricing">
<div class="row">
	<form method="post" enctype="" action="">
	<p align="center"><a class="button" style="color: #ff0000; font-size:20px ;" href="{{ path_for ('admin') }}" role="button">Назад</a></p><br>
		<p>Заголовок: <input type="text" name="head" size="100" value="{{intro.head}}"></p>
		<p>Текст:<textarea name="text" cols="100" rows="20">{{intro.text|raw}}</textarea></p>
		{#<input type="hidden" name="token" value="{{ session.token }}"/>#}
		<p><input type="submit" value="Змінити"></p>
		</form>
	
    	<script>
		CKEDITOR.replace('text');
	</script>	
		</div>
	</section>
	{% endblock %}
{% block footer %}{% endblock %}