{% extends 'base.html.twig' %}
{% block title %}Редагування секції Services{% endblock %}
{% block navbar_header %}{% endblock %}
{% block content %}
<script src="/assets/ckeditor/ckeditor.js"></script>
<section id="pricing">
<div class="row">
<p align="center"><a class="button" style="color: #ff0000; font-size:20px ;" href="{{ path_for ('admin') }}" role="button">Назад</a></p><br>

{%for service in services %}
		<a class="button btn-danger" href="{#/admin/servicesedit/{{service.id}}#}{{ path_for ('servicesedit')}}/{{service.id }}" role="button">{{service.id}}-{{service.head}}</a>
{%endfor%}
{%if id %}
	<form method="post" enctype="" action="">
		<p>Заголовок: <input type="text" name="head" size="80" value="{{services_h.head}}"></p>
			<p>Короткий опис: <input type="text" name="desc" size="120" value="{{services_h.desc}}"></p>
			
	
		<p>Заголовок сервіса: <input type="text" name="headsv" size="50" value="{{service.head}}"></p>
		<p>Текст сервіса:<textarea name="text" cols="100" rows="20">{{service.text|raw}}</textarea></p>
		<p><input type="submit" value="Змінити"></p>
		</form>
	
    	<script>
		CKEDITOR.replace('text');
	</script>	
{%endif%}
		</div>
	</section>
	{% endblock %}
{% block footer %}{% endblock %}