<!DOCTYPE html>
<html><head>
<title>Оновлення статей</title>
<link href="/css/bootstrap.css" rel="stylesheet">
<script src="/js/ckeditor/ckeditor.js"></script>
</head><body>
   <div class="col-md-9">

	<div class="">
		<h2>Оновлення статті</h2>
    </div>

{%if session.message %}
	    <div class="alert alert-success">
	        {{ session.message }}
	    </div>
{%endif%}

<form method="post" enctype="multipart/form-data" action="{{path_for ('update', {'id': article.id}) }}">
   	  <div class="form-group">
	    <label for=title">Заголовок</label>
	    <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}" placeholder="Назва статті">
	  </div>
	  	  <div class="form-group">
	    <b>Короткий опис:</b><p> <textarea class="form-control" name="desc"  cols="130" rows="5">{{ article.desc }}</textarea></p>
    </div>
	  <div class="form-group">
	    <label for="text">Текст статті *:</label>
	    <textarea class="form-control" id="text" name="text">{{ article.text }}</textarea>
	  </div>
	  <div class="form-group">
	    <label>Псевдонім:</label>
	    <input type="text" class="form-control" id="alias" value="{{ article.alias }}" name="alias">
	  </div>
		<!--<p>Зображення: <input type="text" name="img" size="52" value="{{ article.img }}"></p>-->
		<p>Файл зображення: <img src="/{{article.img}}" width="10%" height="10%"/> <input type="file" name="image" value="{{ article.img }}"><!-- enctype='multipart/form-data' --></p>
		<p>Ключі: <input type="text" name="keywords" size="60" value="{{ article.keywords }}" placeholder="Keywords"></p>
		<p>Дата створення: <input type="text" name="created_at" size="20" value="{{ article.created_at }}"></p>
				<p>Дата редагування: <input type="text" name="updated_at" size="18" value="{{ "now"|date("Y-m-d H:i:s") }}"></p>
		<p><button type="submit" class="btn btn-primary">Зберегти</button></p>
	{#csrf_field()#}
</form>   
   </div>
	<script>
		CKEDITOR.replace('text');
	</script>
</body></html>  