{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block navbar_header %}{% endblock %}
{% block logbar %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

<div style="margin-left: 10pt">
<h1>Login</h1>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login') }}" method="post">
    <label for="username">Логін:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="_password" />

 {#  If you want to control the URL the user
     is redirected to on success (more details below)
  <input type="hidden" name="_target_path" value="/account" /> #}
  
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
    <button type="submit">Увійти</button>
</form>
</div>
{% endblock %}
{% block footer %}{% endblock %}