{% extends 'base.html.twig' %}
{% block title %}Хешування bcrypt{% endblock %}
{% block navbar_header %}{% endblock %}
{% block logbar %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

<div style="margin-left: 10pt">
<h1>Хешування bcrypt</h1>

{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Створити!</button>
{{ form_end(form) }}

</div>
{% endblock %}
{% block footer %}{% endblock %}