<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/3.3/favicon.ico">
        <title>{% block title %}Jumbotron Template for Bootstrap{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
    <link href="{{ absolute_url(asset('css/bootstrap.css')) }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ asset('css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/jumbotron.css') }}" rel="stylesheet">
<script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ asset('css/ie-emulation-modes-warning.js') }}"></script>
<script>
$(document).ready(function(){
    $("#show").click(function(){
        $("#block").show();
    });
    $("#show").click(function(){
    		$("#show").hide();
    });
    $("#hide").click(function(){
        $("#block").hide();
    });
    $("#block").click(function(){
        $("#show").show();
    });

});
</script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        {% endblock %}
  </head>
    
    <body>
        {% block navbar_header %}
<!--	
	<nav class="navbar navbar-default navbar-fixed-main">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Мій сайт:</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Додому</a></li>
            <li><a href="/about">Про нас</a></li>
            <li><a href="#">Сторінки</a></li>
            <li><a href="#">Сторінка</a></li>
            <li><a href="#">Контакти</a></li>
          </ul>
        </div>/ 
      </div>
    </nav>
    -->
    <div class="flex-center position-ref full-height">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="top-right links">
                    {#auth#}
         	  &nbsp;&nbsp;<a href="{{	path ('add') }}"><b>Додати статтю</b> </a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                        <a href="{{ '/register' }}">Зареєструватись</a>
                    <!--<a href="{# path ('logout') #}">Logout</a>-->
                    {% else %}
                 		&nbsp;&nbsp;<a href="{{ path ('login') }}">Login</a>
                    {#endauth#}
                </div>
            {%endif%}

{% for flash in app.flashes('success') %}
 <div class="alert alert-success">
{{ flash|trans }}
</div>
{% endfor %}

{# for label, flashes in app.flashes %}
{% for flash in flashes %}
<div class="flash-{{ label }}">
{{ flash }} </div>
{% endfor %}
{% endfor #}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Ім'я проекту</a>
        </div>
				        <div id="navbar" class="navbar-collapse collapse">
{% endblock %}				        
{% block logbar %}				        
          <form class="navbar-form navbar-right" action="{{ path ('login') }}" method="POST">
             <div class="form-group">
              <input placeholder="Логін" class="form-control" type="text" name="_username" value="{# request.post("email") #}" required autofocus>
            </div>
            <div class="form-group">
              <input placeholder="Пароль" class="form-control" type="password" name="_password" required>
            </div>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <button type="submit" class="btn btn-success">Увійти</button>
            {%endif%}
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-success" href="{{ path ('logout') }}" role="button">Вийти</a>
            {%endif%}
            {# var is not defined ? "Not Assigned" : "Assigned" #}
            {# if var|default is empty #} 
                            {#if not errors.has('email'))#}
                        <!--  <span class="invalid-feedback">
                                        <p style="color: #ff0000"><strong>{# errors->first('email') #}</strong></p>
                                    </span>-->
                                {#endif#}
          </form>
           {% endblock %}          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
{% block navbar %}    <!--
    <div id="container" class="container nav">
     <ul id="navbar" class="nav navbar-nav" style="font-size: 20px">
            <li class="active"><a href="{{ path ('index') }}">Додому</a></li>
            <li><a href="#">Про нас</a></li>
            <li><a href="#">Сторінки</a></li>
            <li><a href="#">Сторінка</a></li>
            <li><a href="#">Контакти</a></li>
          </ul> 
		</div>-->
{% endblock %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
{% block head %}{% endblock %}   
   
{% block content %}{% endblock %}
        
      </div>
      <hr>
{% block footer %}
      <footer>
        <p>&copy; 2018-{{ 'now'|date('Y') }} Yura, Inc.</p>
      </footer>
    </div> <!-- /container -->
{% endblock %}
  {% block javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="assets/jquery.js"></script>-->
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>
	 {% endblock %} 

</body></html>