<pre>
<?php if ($block->getPostById($block->getPostParam())) {
    $post_param = $block->getPostById($block->getPostParam())->getId();
} else {
    $post_param = 0;
} ?><br>
<?php
echo $post_param . '<br>';
if ($post_param) {
    echo $block->getCategoryName($block->getPostById($post_param)->getCid())->getName(). '<br>';
    $post_one = $block->getPostById($post_param);
    if ($post_one->getStatus() != 0) {
        print_r($block->getPostById($post_param)->debug());
        echo $post_one->getId() . '<br>';
        echo $post_one->getName() . '<br>';
        echo $post_one->getUrlKey() . '<br>';
    }
}
    ?>
</pre>
    <div id="button" data-bind="scope: 'ajaxButton'">
    <button data-bind="click: function () {clickEvent(true)}">Likes</button>
        <div data-bind="ifnot: clickEvent">
            Like: 10 Dislike: 5
        </div>
    <div style="display: none" data-bind="visible: clickEvent">
       <div data-bind="foreach: likesData">
           <span data-bind="text: 'Like: ' + like"></span>
           <span data-bind="text: 'Dislike: ' + dislike"></span><br>
           <span data-bind="text: pid_like"></span>
         </div>
    </div>
</div>
<script type="text/x-magento-init">
   {
      "*":{
      "Magento_Ui/js/core/app": {
           "components": {
             "ajaxButton": {
                "component": "Yura_Blog/js/ajaxButton",
                "ajaxUrl": "<?= $block->escapeJs($block->getBaseUrl()) ?>"
                   }
               }
           }

      }
   }
</script>

<!-- працює -->
<!--<button data-bind="visible: likesData().vote = 1" id="like" class="vbtn-like" type="button">-->
<a href="#" id="vbtn-like">Like <span>1</span></a>
<a href="#" id="vbtn-disklike">Disklike <span>1</span></a>

<div id="result" class="hideme"></div>
<script>
    require([
        'jquery'
    ], function($){
        var postId = '<?php echo $post_param ?>';
        //var like = document.getElementById("vbtn-like");// не працює
        //var dislike = document.getElementById("vbtn-like");// не працює
        $.ajax({
            type: "POST",
            url:'<?php echo $block->getUrl('blog/index/likes') ?>',
            data: { like: 'like', dislike: 'dislike', postId:postId },
            dataType: "json"
        })
            .done(function(data) {
                var post = JSON.stringify(data, null, 2);
                $('#result').html(post);
            });
    });
</script>
<!-- працює -->


<style>
    .hideme{display:none;}
</style>
<div id='test' class="hideme">
    <select>
        <% _.each(posts, function(text,value) { %>
        <option value="<%= value %>"><%= text %></option>
        <% }) %>
    </select>
</div>
<script>
    require([
        'jquery',
        'jquery/ui'
    ], function($){
        //var param = {like:'like',postId: 1};
				//var like = document.getElementById("vbtn-like");// не працює
        //var dislike = document.getElementById("vbtn-like");// не працює
        $.ajax({
            type: "POST",
            //url: "http://magento.loc/blog/index/likes",
						url:'<?php echo $block->getUrl('blog/index/likes') ?>',
            //url:'<?php //echo $block->getUrl('blog/index/likes', ['form_key' => $block->getFormKey()]) ?>',
            //data: { param: param },
            data: { like: 'like', postId: 1 },
            dataType: "json",
            complete: function(response) {
                stores = response.responseJSON.data1;
                selectedStore = response.responseJSON.data2;
                console.log(data1+' '+data2);
            },
            error: function (xhr, status, errorThrown) {
                console.log('Error happens. Try again.');
            }

        })
            .done(function(data) {
                //do something with you return data
                alert({posts:data});
                $('#test').removeClass('hideme');
                var post = template('#test', {posts:data});
								//var post = JSON.stringify(data, null, 2);
								$('#test').html(post);
								//$('#result').html(data.like);//обєкт, масив - data['like']
								//$('#result').html('Like: ' + data.like + ' ' + 'Dislike: ' +  data.dislike);
								//$.each(data, function (index, value) {
								//alert(index + ':' + value);
                //console.log(value);
                //});
            });
    });
</script>



<select id="chartOption">
    <option value="">Select Option</option>
    <option value="status">Status</option>
    <option value="payments">Payments</option>
    <option value="browser">Browser</option>
</select>
<input type="button" name="chart_button" value="Generate chart" onclick="click_chart()">
<div id="result"></div>
<script>
    function click_chart() {
        var a = document.getElementById("chartOption");
        var abc = a.options[a.selectedIndex].value;
        data = $(this).serialize();
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "http://magento.loc/blog/index/likes",
            data: "label=" + abc,
            dataType: "json",
            success: function (result) {
                $('#result').html(result);
            },
            error: function (error) {
                $('#result').html(error); }
        });
    }
</script>
<label>Name</label>
<input type="text" id="name">
<label>Email</label>
<input type="text" id="email">
<button type="submit" id="button1">SAVE</button>
<script>
    $(document).ready(function(){
        $("#button1").click(function(){
            var name=$("#name").val();
            var email=$("#email").val();
            $.ajax({
                url:'http://magento.loc/blog/index/likes',
                type:'POST',
                data:{ name:name, email:email },
                dataType: "json",
                success:function(data){
                    alert({posts:data});
                }
            });
        });
    });
</script>
<div id="post-like" class="post-like">
    <a href="#" class="vbtn-like">Like <span>(10)</span></a>
    <a href="#" class="vbtn-disklike">Disklike <span>(5)</span></a>
    <div class="post-message"></div>
    <script>
        require(['jquery'], function($){
            $(document).ready(function($) {
                $('.post-like a').click(function(){
                    var self = $(this);
                    var like = 0;
                    var postId = 1;
                    if($(this).hasClass('vbtn-like')){
                        like = 1;
                    }
                    var tmp = '';
                    $.ajax({
                        url: 'http://magento.loc/blog/index/likes',
                        type: 'post',
                        data: { like: like, postId: postId },
                        dataType: 'json',
                        beforeSend: function() {
                            tmp = $(self).find('span').html();
                            $(self).find('span').html('(...)');
                        },
                        success: function(result) {
                            if(result.status){
                                $('.post-like .post-message').addClass('post-success');
                            }else{
                                $('.post-like .post-message').addClass('post-error');
                            }
                            if(result.like) $('.post-like .vbtn-like span').html('(' + result.like + ')');
                            if(result.disklike) $('.post-like .vbtn-disklike span').html('(' + result.disklike + ')');
                            if(result.status == 0){
                                $(self).find('span').html(tmp);
                                tmp = '';
                            }
                            $('.post-like .post-message').html(result.message);
                            setTimeout(function(){
                                $('.post-like .post-message').html('');
                                $('.post-like .post-message').removeClass('post-success').removeClass('post-error');
                            },2000);
                        }
                    });
                    return false;
                });
            });
        });
    </script>
</div>
