
.custom-pager .limiter{
    display: none;
}

.blog-post-main {
    width: 135%;
    display: inline-block;
    -ms-flex-order: 2;
    order: 2;
    max-width: 135%;
}

.blog-post-sidebar-additional {
    width: 110%;
    float: right;
    -ms-flex-order: 3;
    order: 3;
    max-width: 110%;
}

table {
    width: 135%;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 135%;
}
