<div>
    <!-- ko if: (likesData().has_like) -->
    <ul>
        <li style="display: inline; margin-left: -33px"><span style="color: #6f4400">
        <span id="mark" data-bind="i18n: 'Like: '"></span><span data-bind="html: likesData().like"></span></span>
        </li>
        <li style="display: inline; margin-left: 15px"><span style="color: #6f4400">
        <span id="mark1" data-bind="i18n: 'Dislike: '"></span><span data-bind="html: likesData().dislike"></span></span>
        </li>
    </ul>
    <!--/ko-->
</div>
<div id="post-like" class="post-like">
    <!-- ko if: (isCustomerLoggedIn) -->
    <!-- ko if: (likesData().vote) -->
        <button  id="like" class="vbtn-like" type="button">
            <span data-bind="i18n: 'Like'"></span>
        </button>
        <button id="dislike" class="vbtn-disklike" type="button">
            <span data-bind="i18n: 'Disike'"></span>
        </button>
    <!--/ko-->
    <!--/ko-->
</div>
