<pre>
<?php if ($block->getCategoryById($block->getCategoryParam())) {
    echo $block->getCategoryById($block->getCategoryParam())->getName();
} ?><br>

<?php //print_r($block->getPostFilterCollection())// array ?><br>

<?php echo $block->getCategoryParam() ?><br>
</pre>

<?php $_gridrecords = $block->getPostFilterCollection(); ?>
<div class="table-wrapper order-history">
    <table class="data table table-order-items history" id="my-orders-table">
        <caption class="table-caption"><?php echo __('Grid Records') ?></caption>
        <thead>
        <tr>
            <th scope="col" class="col id"><?php echo __('Post ID') ?></th>
            <th scope="col" class="col title"><?php echo __('Name') ?></th>
            <th scope="col" class="col status"><?php echo __('Image') ?></th>
            <th scope="col" class="col status"><?php echo __('Status') ?></th>
            <th scope="col" class="col status"><?php echo __('Short Description') ?></th>
            <th scope="col" class="col date"><?php echo __('Created At') ?></th>
            <th scope="col" class="col status"><?php echo __('Author') ?></th>
            <th scope="col" class="col status"><?php echo __('Url Key') ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($_gridrecords as $_gridrecord) : ?>
            <tr>
                <td class="col id"><?php echo $_gridrecord->getId() ?></td>
                <td class="col shipping"><?php echo $_gridrecord->getName() ?></td>
                <td class="col shipping"><?php echo $_gridrecord->getImage() ?></td>
                <td class="col shipping"><?php echo $_gridrecord->getStatus() ?></td>
                <td class="col shipping"><?php echo $_gridrecord->getShortDescription() ?></td>
                <td class="col shipping"><?php echo $_gridrecord->getCreationTime() ?></td>
                <td class="col shipping"><?php echo $_gridrecord->getAuthor() ?></td>
                <td class="col shipping"><?php echo $_gridrecord->getUrlKey() ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>
<?php if ($block->getPagerHtml()) : ?>
        <div class="order-products-toolbar toolbar bottom custom-pager">
            <?php echo $block->getPagerHtml(); ?></div>
<?php else : ?>
        <div class="message info empty">
        <span><?php echo __('Records not available') ?></span></div>
<?php endif; ?>
