<?php
$testBlock = \Magento\Framework\App\ObjectManager::getInstance()->get('Study\First\Block\TestBlock');
$product = 'product';
$prod = $block->getById($block->getCurrentProduct()->getId(), 'product_id')->getProductId();
// //$prod = $block->getFilterCollection($block->getCurrentProduct()->getId());
$not = '';
if (!$prod) {
    $not = 'not';
}
if ($block->getCurrentProduct()->getFinalPrice()<$testBlock->getMinimumShippingAmount()) {
    $product = 'products';
} ?>
<h3 style="color: #6f4400">buy
    <?php echo ceil($testBlock->getMinimumShippingAmount()/$block->getCurrentProduct()->getFinalPrice())." $product" ?>
     in get free shipping</h3>
<p style="color: #6f4400">this product was <?php echo $not ?> buy for free shipping</p><br>
<?php $order = $block->getOrderById(1);

$quote = $block->getQuoteById(1);

print_r($quote->getData());die("dead");

echo "<pre>";print_r($order->debug());die("dead");

echo $order->getId().'<br>';
echo $order->getTotalItemCount().'<br>';
echo $order->getSubtotal().'<br>';

foreach ($order->getAllVisibleItems() as $item) {
    echo $item->getId().'<br>';
    echo $item->getProductId().'<br>';
    $item1[] = $item->getProductId();
}?>
<?php echo implode(", ", $item1);//$block->saveModel() ?>
<?php echo json_encode($item1) ?>
<?php echo serialize($item1); ?>
<?php $block->getPriceProduct()// запустити метод, щоб записало в сесію ?>
