<style type="text/css">
    TABLE {
        width: 300%;
				//border-collapse: collapse; /* не накладаються 2 лінії */
    }
    TH {
    text-align: left;
    }
    TD {
    border-bottom: 1px solid #000;
    }
    TH {
        border-bottom: 1px solid #000;
    }
</style>
<h1><?php echo __('Event grid'); ?></h1>

<iframe>
<div class="btn-wrap btn-wrap-triangle-left btn-wrap-prev">
    <form method="post">
        <input type="hidden" name="link" value="/freeshippingevents/"/>
        <!--<input type="hidden" name="id" value="13"/>-->
        <button type="submit" class="btn">Refresh data</button>
    </form>
</div>
</iframe>

<div id="button" data-bind="scope: 'ajaxButton'">
    <button data-bind="click: function () {clickEvent(true)}">Get Currency</button>
    <div style="display: none" data-bind="visible: clickEvent">
        <!--<pre data-bind="text: currencyData"></pre>-->
        <pre data-bind="text: ordersData"></pre>
				<?php //$a = '<span data-bind="text: currencyData"></span>';?>
   <table rules="rows">
            <thead>
            <tr>
                <th>Free Shipping Order</th>
                <th>Create Order</th>
                <th>Base total amount</th>
                <th>Admin Comment</th>
            </tr>
            </thead>
           <tbody data-bind="foreach: ordersData">
            <tr>
                <th><a data-bind="text: id, attr: { href: '?id=' + id }"></th>
								<!--<td data-bind="text: id"></td>-->
								<?php //echo '<span data-bind="text: id"></span>'?>
								<!--<pre data-bind="text: id"></pre>-->
                <td data-bind="text: created_at"></td>
                <td data-bind="text: base_total_amount"></td>
                <td data-bind="text: comment"></td>
            </tr>
            </tbody>
        </table>
	 </div>
</div>
<script type="text/x-magento-init">
   {
      "*":{
      "Magento_Ui/js/core/app": {
           "components": {
             "ajaxButton": {
                "component": "Study_First/js/ajaxButton",
                "ajaxUrl": "<?= $block->escapeJs($block->getBaseUrl()) ?>"
                   }
               }
           }
      }
   }
</script>
<br>
<div id="messages">
    <div class="message">MessageContents<br><button class="primary">ClickMe</button>
    </div>
</div>
<!--<script type="text/javascript">-->
<?php $a = 2+3; ?>
<script><!-- or data-bind="ifnot: clickEvent", data-bind="visible: !clickEvent" -->
    require([
            'jquery'
        ],
        function($) {
            $("#button").click(function () {
                $("#ord").hide()
            })
        });
</script>
<script>
    require([
            'jquery',
            'Magento_Ui/js/modal/alert'
        ],
        function($, alert) {
            $('#messages').on('click', 'button.primary', function(event){
                alert({
                    content: $(event.target).parent().text() + '<?php echo $a ?>'
                })
            })
        }
    );
</script>
<!--
<div>
    <table border="0" cellpadding="5" cellspacing="5">
      <tr>
         <th>Free Shipping Order</th><th>Create Order</th><th>Base total amount</th><th>Admin Comment</th>
      </tr>
<?php //foreach ($block->getFreeEventCollection() as $item) : ?>
    <tr>
        <td><?php //echo $item->getId()?></td>
        <td><?php //echo $item->getCreationTime()?></td>
        <td><?php //echo $item->getTotalAmount()?></td>
        <td><?php //echo $item->getComment()?></td>
    </tr>
<?php //endforeach; ?>
    </table>
</div>-->
<!--<div data-bind="scope: 'ajaxButton'">
<div id="ord" data-bind="ifnot: clickEvent"> or data-bind="visible: !clickEvent"
 ... 
</div>
</div>-->
<div>
    <?php $get_id = $block->getGetId();
    if ($get_id) {
        foreach ($block->getProductFilterCollection($get_id) as $value) {
            echo "Product in order № $get_id : ", $value['name'] . '<br>';
        }
    }?>
 <!--<pre> <?php //print_r($_SERVER) ?></pre>-->
    <?php if ($block->getFilterCollection()) :?>
    <table border="0" cellpadding="5" cellspacing="5" /*rules="rows" 
    border="1"*/>
      <tr>
         <th>Free Shipping Order</th><th>Create Order</th><th>Base total amount</th><th>Admin Comment</th>
      </tr>
<?php foreach ($block->getFilterCollection() as $item) : ?>
    <tr>
        <td><a href="?id=<?php echo $item['id']//order_id?>">
        <button type="submit" class="btn"><?php echo $item['id']?></button></a></td>
        <td><?php echo $item['created_at']?></td>
        <td><?php echo $item['base_total_amount']?></td>
        <td><?php echo $item['comment']?></td>
    </tr>
<?php endforeach; ?>
    </table>
    <?php else : ?>
        <h3><?php echo __('Be first, who get free shipping'); ?></h3>
    <?php endif; ?>
</div>
